Library/
Temp/
obj/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.DS_store

## FMOD Studio

preloadCache.cache.1
Flickers/Profiler/
.cache/
.recycle/
.restore*/
.fsbcache/
Flickers/Audio Asset/
*.sublime-workspace
*.suo
Unity Project/DeveloperSettings.txt
*.bank*